:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.title {
  font-size: 7em;
}

.subtitle {
  font-size: 1.2em;
  font-weight: 400;
}

.blocs {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.img-block {
  background-color: #5B00BB;
  padding: 10px;
  border-radius: 10px;
}

.card {
  margin: 5px;
  width: 100%;
  text-align: center;
  padding: 24px;
}

.card-title {
  font-size: 3.2em;
  margin-top: 30px;
  margin-bottom: 30px !important;
}

.card-subtitle {
  font-size: 1.5em;
  color: rgb(73, 73, 73);
}

.card-text {
  font-size: 1.2em;
  text-align: justify;
  color: rgb(73, 73, 73);
}

.bg-white {
  background-color: white;
}

.footer {
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.navbar-nav {
  background-color: white;
}

.nav-item {
  font-weight: 600;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item:hover {
  background-color: #00000009;
  border-radius: 5px;
}

.btn-primary {
  background-color: #5B00BB !important;
  border-color: #5B00BB !important;
}

.btn-primary:hover {
  background-color: #330069 !important;
  border-color: #5B00BB !important;
}

.dropdown-item {
  font-size: 1.3em;
  font-weight: 500 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.dropdown-item:active {
  background-color: #5B00BB !important;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 3em;
  }
  .blocs {
    flex-direction: column;
  }
}